head
    meta(charset="UTF-8")
    meta(name="viewport",content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible",content="ie=edge")
    title multi-page-app
    link(rel="stylesheet",href="/static/css/bs.css")
body
    block content
    script(src='/static/js/jq.js')