extends ../Layout/Layout
block content
    div.home
        img(src="${require(`@/assets/logo.png`)}")
        div.hello Welcome to Your App
        h3 Document
        ul
            li 
                a(href="https://github.com/xxj95719/multi-page-app" target="_blank" rel="noopener") multi-page-app